
<body>
    <div>
        <h1>Mi Título</h1>
    </div>
    @RenderBody
</body>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SODA ANTOJERIA TICA</title>

    <link href="~/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/css/vendor.bundle.base.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>

<body>
    @RenderBody()
</body>
